<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a href="users/login">HOME</a></span>
     <span class="spacer"></span>
     <a  *ngIf="currentUser==null" mat-button  routerLink="users/register">Register</a>
     <a  *ngIf="currentUser==null" mat-button  routerLink="users/login">Login</a>
  

     <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
      <div class="navbar-nav">
          <a  mat-button  routerLink="products/store">Store</a>
          <a mat-button  routerLink="products/product">Product</a>
          <a  mat-button  (click)="logout()">Logout</a>

      </div>
  </nav>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>