<p>
  <mat-toolbar>
  <span>Stores</span>
  <span class="example-spacer"></span>
  
  <!--button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>add_business</mat-icon> Add Store
 </button-->
</mat-toolbar>
</p>


  <mat-table [dataSource]="storedata">
    <!-- User name Definition -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
    </ng-container>
  
    <!-- Age Definition -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
  
    <!-- Title Definition -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Items </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete Store </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon (click)="deleteStore(row.name)" >delete</mat-icon> 
        </button>  
      </mat-cell>
    </ng-container>
  
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['username', 'age', 'title','delete']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['username', 'age', 'title','delete'];;let i = index"></mat-row>
  </mat-table>


  <mat-toolbar>
    <span>Add Store</span>
 </mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input  matInput #storeName required placeholder="storeName" name="storeName">
         </mat-form-field><br>
         <!--mat-form-field class="full-width">
            <mat-label>Items</mat-label>
            <input  matInput  #password required placeholder="Password" name="password">
         </mat-form-field-->
         
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button  color="primary"
      (click)="addStore(storeName.value); storeName.value=''"
                 
      >Add</button>
   </mat-card-actions>
</mat-card>

